{
	"root": true,
	"plugins": [
		"@typescript-eslint",
		"simple-import-sort",
		"import",
		"sort-keys-fix"
	],
	"extends": [
		"eslint:recommended",
		"next",
		"next/core-web-vitals",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "ignoreRestSiblings": true }
		],
		"@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/ban-ts-comment": "off",
		"import/first": "error",
		"import/no-duplicates": "error",
		"import/newline-after-import": "error",
		"no-console": ["error", { "allow": ["error", "warn"] }],
		"react/jsx-sort-props": [
			"error",
			{
				"ignoreCase": true
			}
		],
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					["^\\u0000"], // side effect imports
					["^react"], // react imports
					["^next"], // next imports
					["^@?\\w"], // other packages
					["^"], // unmatched imports
					["^@mui"], // material-ui imports
					// NOTE that the following need to be configured to match
					// desired order of any alias mappings added to jsconfig.json
					// (and likewise below in import resolver alias mappings)
					["^@/pages"],
					["^@/components"],
					["^@/lib"],
					["^\\."] // relative imports
				]
			}
		],
		"sort-keys-fix/sort-keys-fix": ["error", "asc", { "caseSensitive": false }],
		"simple-import-sort/exports": "error"
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@/components", "./src/components/"],
					["@/lib", "./src/lib/"],
					["@/pages", "./src/pages/"]
				]
			}
		}
	}
}
